# The dataset analysis

In [38]:
import pandas as pd
df = pd.read_csv ('Fire_Incidents.csv')
df.head()
col = df.columns
dtypes = []
for i in col:
    dtypes.append(df[i].dtype)

C:\Users\kijpi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10,12,13,20,38,45,46,55,59) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [39]:
df

,Incident Number,Exposure Number,ID,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,...,Detector Effectiveness,Detector Failure Reason,Automatic Extinguishing System Present,Automatic Extinguishing Sytem Type,Automatic Extinguishing Sytem Perfomance,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,neighborhood_district,point
0,8028304,0,80283040,150 Elsie St.,2008-04-01T00:00:00,80920257,2008-04-01T18:06:37,2008-04-01T18:15:19,2008-04-01T18:21:48,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Bernal Heights,POINT (-122.41837339 37.74208979)
1,8028303,0,80283030,85 Turner Tr.,2008-04-01T00:00:00,80920256,2008-04-01T18:00:52,2008-04-01T18:06:30,2008-04-01T18:22:18,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Potrero Hill,POINT (-122.39489 37.756291)
2,8028309,0,80283090,175 6th St.,2008-04-01T00:00:00,80920262,2008-04-01T18:42:06,2008-04-01T18:45:23,2008-04-01T18:53:25,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South of Market,POINT (-122.407468 37.78008)
3,8028314,0,80283140,633 Hayes St.,2008-04-01T00:00:00,80920268,2008-04-01T19:03:52,2008-04-01T19:08:39,2008-04-01T19:35:36,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Hayes Valley,POINT (-122.42684908 37.77612642)
4,8028319,0,80283190,27th Av. / Cabrillo St.,2008-04-01T00:00:00,80920273,2008-04-01T19:16:12,2008-04-01T19:23:48,2008-04-01T19:28:49,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outer Richmond,POINT (-122.4863941 37.77428492)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584863,22037881,0,220378810,2155 MISSION STREET,2022-03-23T00:00:00,220823461,2022-03-23T22:52:26,2022-03-23T22:55:49,2022-03-23T23:43:50,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Mission,POINT (-122.419371 37.762841)
584864,22040310,0,220403100,111 JONES STREET,2022-03-29T00:00:00,220881576,2022-03-29T13:10:45,2022-03-29T13:15:09,2022-03-29T13:18:25,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tenderloin,POINT (-122.41234 37.782211)
584865,22037679,0,220376790,350 GOLDEN GATE AVENUE,2022-03-23T00:00:00,220821743,2022-03-23T13:08:01,2022-03-23T13:12:47,2022-03-23T13:35:45,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tenderloin,POINT (-122.416356 37.781616)
584866,22037675,0,220376750,1449 LINCOLN WAY,2022-03-23T00:00:00,220821723,2022-03-23T13:03:28,2022-03-23T13:05:00,2022-03-23T13:57:25,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inner Sunset,POINT (-122.47347 37.765548)
584867,22039187,0,220391870,99 GROVE STREET,2022-03-26T00:00:00,220852685,2022-03-26T19:13:13,2022-03-26T19:15:32,2022-03-26T19:25:23,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tenderloin,POINT (-122.417316 37.778083)

In [2]:
df["Fire Injuries"].unique()

array([0, 2, 1, 4, 6, 9, 3], dtype=int64)

## Specifying the type for each column

In [3]:
types = ["int", "int", "int", "text", "date", "int", "date", "date", "date", "text", "text", "text", "text", "text", "int", "int", "int", "int", "int", "int", "text", "float", "float", "int", "int", "int", "int", "int", "text", "text", "text", "text", "text", "text", "text", "text", "text", "text", "text", "text", "text", "text", "text", "text", "float", "text", "text", "float", "float", "float", "float", "text", "text", "text", "text", "text", "text", "text", "text", "text", "float", "float", "text", "POINT(float, float)"]
freeform = ["+", "+", "+", "+", "+", "+", "+", "+", "+", "+", "+", "-", "-", "+", "+", "+", "+", "+", "+", "+", "-", "+", "+", "+", "+", "+", "+", "+", "-", "+", "-", "-", "-", "+", "-", "-", "-", "-", "-", "-", "-", "-", "-", "-", "+", "-", "+", "+", "+", "+", "+", "+", "-", "-", "-", "-", "-", "-", "-", "-", "+", "+", "+", "+"]
len(freeform)

64

In [4]:
df2 = {"attribute":col, "dtype":dtypes, "types":types, "freeform":freeform}
df2 = pd.DataFrame(df2)

In [5]:
df2

,attribute,dtype,types,freeform
0,Incident Number,int64,int,+
1,Exposure Number,int64,int,+
2,ID,int64,int,+
3,Address,object,text,+
4,Incident Date,object,date,+
...,...,...,...,...
59,Automatic Extinguishing Sytem Failure Reason,object,text,-
60,Number of Sprinkler Heads Operating,float64,float,+
61,Supervisor District,float64,float,+
62,neighborhood_district,object,text,+
63,point,object,"POINT(float, float)",+

In [6]:
df2.to_csv("data.csv")