# Cleaning the dataset

### Reading data set, and collecting types of values in columns.

In [1]:
import pandas as pd
df = pd.read_csv('Fire_Incidents.csv')
df.head()
col = df.columns
dtypes = []
for i in col:
    dtypes.append(df[i].dtype)

/tmp/ipykernel_127251/1366492078.py:2: DtypeWarning: Columns (10,12,13,20,38,45,46,55,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Fire_Incidents.csv')

### Displaying dataset

In [2]:
df

,Incident Number,Exposure Number,ID,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,...,Detector Effectiveness,Detector Failure Reason,Automatic Extinguishing System Present,Automatic Extinguishing Sytem Type,Automatic Extinguishing Sytem Perfomance,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,neighborhood_district,point
0,8028304,0,80283040,150 Elsie St.,2008-04-01T00:00:00,80920257,2008-04-01T18:06:37,2008-04-01T18:15:19,2008-04-01T18:21:48,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Bernal Heights,POINT (-122.41837339 37.74208979)
1,8028303,0,80283030,85 Turner Tr.,2008-04-01T00:00:00,80920256,2008-04-01T18:00:52,2008-04-01T18:06:30,2008-04-01T18:22:18,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Potrero Hill,POINT (-122.39489 37.756291)
2,8028309,0,80283090,175 6th St.,2008-04-01T00:00:00,80920262,2008-04-01T18:42:06,2008-04-01T18:45:23,2008-04-01T18:53:25,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South of Market,POINT (-122.407468 37.78008)
3,8028314,0,80283140,633 Hayes St.,2008-04-01T00:00:00,80920268,2008-04-01T19:03:52,2008-04-01T19:08:39,2008-04-01T19:35:36,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Hayes Valley,POINT (-122.42684908 37.77612642)
4,8028319,0,80283190,27th Av. / Cabrillo St.,2008-04-01T00:00:00,80920273,2008-04-01T19:16:12,2008-04-01T19:23:48,2008-04-01T19:28:49,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outer Richmond,POINT (-122.4863941 37.77428492)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590931,22049511,0,220495110,1466 REVERE AVENUE,2022-04-18T00:00:00,221083111,2022-04-18T22:10:40,2022-04-18T22:14:41,2022-04-18T22:18:24,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bayview Hunters Point,POINT (-122.387608 37.730303)
590932,22057704,0,220577040,1550 EDDY STREET,2022-05-06T00:00:00,221263192,2022-05-06T20:56:22,2022-05-06T20:58:59,2022-05-06T21:09:55,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Western Addition,POINT (-122.433181 37.781389)
590933,22063395,0,220633950,BAYSHORE BL,2022-05-18T00:00:00,221383216,2022-05-18T22:05:05,2022-05-18T22:05:05,2022-05-18T22:21:00,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bayview Hunters Point,POINT (-122.403227 37.749464)
590934,22063394,0,220633940,190 8TH STREET,2022-05-18T00:00:00,221383204,2022-05-18T22:01:32,2022-05-18T22:02:00,2022-05-19T01:08:35,San Francisco,...,NaN,NaN,N None Present,NaN,NaN,NaN,NaN,NaN,South of Market,POINT (-122.411864 37.776326)
590935,22057335,0,220573350,330 MISSION BAY NORTH BL,2022-05-06T00:00:00,221260568,2022-05-06T07:43:39,2022-05-06T07:48:11,2022-05-06T08:22:02,San Francisco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Mission Bay,POINT (-122.386992 37.77133)

### Checking unique values of City column, and renaming it to "San Francisco"

In [ ]:
df['City'].unique()

In [9]:
df = df.replace('SF', 'San Francisco')
df = df.replace('SAN FRANCISCO', 'San Francisco')

In [10]:
df['City'].unique()

array(['San Francisco', 'SFO', 'TI', 'FM', 'HP', 'DC', 'YB', 'PR', 'BN',
       'OAK', 'AI', nan, 'PRESIDIO', 'TREASURE ISLAND', 'FORT MASON',
       'Hunters Point', 'Presidio', 'Brisbane', 'Treasure Island',
       'Treasure Isla', 'Yerba Buena', 'Fort Mason', 'Daly City'],
      dtype=object)

### Deleting columns where null is over 90%

In [11]:
print(round(100*(df.isnull().sum()/len(df)),2)[:32])
print(round(100*(df.isnull().sum()/len(df)),2)[32:64])

Incident Number             0.00
Exposure Number             0.00
ID                          0.00
Address                     0.05
Incident Date               0.00
Call Number                 0.00
Alarm DtTm                  0.00
Arrival DtTm                0.01
Close DtTm                  0.00
City                        0.29
zipcode                     0.03
Battalion                   0.00
Station Area                0.14
Box                        50.40
Suppression Units           0.00
Suppression Personnel       0.00
EMS Units                   0.00
EMS Personnel               0.00
Other Units                 0.00
Other Personnel             0.00
First Unit On Scene        44.19
Estimated Property Loss    77.76
Estimated Contents Loss    76.59
Fire Fatalities             0.00
Fire Injuries               0.00
Civilian Fatalities         0.00
Civilian Injuries           0.00
Number of Alarms            0.00
Primary Situation           0.00
Mutual Aid                  0.00
Action Taken Primary        0.00
Action Taken Secondary     40.07
dtype: float64
Action Taken Other                              42.80
Detector Alerted Occupants                      41.56
Property Use                                     0.18
Area of Fire Origin                             94.21
Ignition Cause                                  94.21
Ignition Factor Primary                         94.21
Ignition Factor Secondary                       95.91
Heat Source                                     94.21
Item First Ignited                              94.21
Human Factors Associated with Ignition          94.22
Structure Type                                  97.93
Structure Status                                97.96
Floor of Fire Origin                            98.48
Fire Spread                                     98.37
No Flame Spead                                  97.92
Number of floors with minimum damage            98.88
Number of floors with significant damage        98.88
Number of floors with heavy damage              98.88
Number of floors with extreme damage            98.88
Detectors Present                               97.97
Detector Type                                   98.16
Detector Operation                              98.16
Detector Effectiveness                          98.22
Detector Failure Reason                         98.37
Automatic Extinguishing System Present          97.95
Automatic Extinguishing Sytem Type              98.28
Automatic Extinguishing Sytem Perfomance        98.28
Automatic Extinguishing Sytem Failure Reason    98.37
Number of Sprinkler Heads Operating             98.84
Supervisor District                             81.38
neighborhood_district                            0.02
point                                            0.02
dtype: float64

In [12]:
for i in df.columns:
    if round(100*(df.isnull().sum()/len(df)),2)[i] > 90:
        df.drop(i, axis=1, inplace=True)

### Replacing null values with the mean of the remaining values for each column

In [13]:
round(100*(df.isnull().sum()/len(df)),2)

Incident Number                0.00
Exposure Number                0.00
ID                             0.00
Address                        0.05
Incident Date                  0.00
Call Number                    0.00
Alarm DtTm                     0.00
Arrival DtTm                   0.01
Close DtTm                     0.00
City                           0.29
zipcode                        0.03
Battalion                      0.00
Station Area                   0.14
Box                           50.40
Suppression Units              0.00
Suppression Personnel          0.00
EMS Units                      0.00
EMS Personnel                  0.00
Other Units                    0.00
Other Personnel                0.00
First Unit On Scene           44.19
Estimated Property Loss       77.76
Estimated Contents Loss       76.59
Fire Fatalities                0.00
Fire Injuries                  0.00
Civilian Fatalities            0.00
Civilian Injuries              0.00
Number of Alarms               0.00
Primary Situation              0.00
Mutual Aid                     0.00
Action Taken Primary           0.00
Action Taken Secondary        40.07
Action Taken Other            42.80
Detector Alerted Occupants    41.56
Property Use                   0.18
Supervisor District           81.38
neighborhood_district          0.02
point                          0.02
dtype: float64

In [15]:
from sklearn.impute import SimpleImputer
numeric_df = df.select_dtypes(exclude='object')
for col in numeric_df.columns:
    df[col].fillna(float(df[col].mean()), inplace = True)

In [16]:
round(100*(df.isnull().sum()/len(df)),2)

Incident Number                0.00
Exposure Number                0.00
ID                             0.00
Address                        0.05
Incident Date                  0.00
Call Number                    0.00
Alarm DtTm                     0.00
Arrival DtTm                   0.01
Close DtTm                     0.00
City                           0.29
zipcode                        0.03
Battalion                      0.00
Station Area                   0.14
Box                           50.40
Suppression Units              0.00
Suppression Personnel          0.00
EMS Units                      0.00
EMS Personnel                  0.00
Other Units                    0.00
Other Personnel                0.00
First Unit On Scene           44.19
Estimated Property Loss        0.00
Estimated Contents Loss        0.00
Fire Fatalities                0.00
Fire Injuries                  0.00
Civilian Fatalities            0.00
Civilian Injuries              0.00
Number of Alarms               0.00
Primary Situation              0.00
Mutual Aid                     0.00
Action Taken Primary           0.00
Action Taken Secondary        40.07
Action Taken Other            42.80
Detector Alerted Occupants    41.56
Property Use                   0.18
Supervisor District            0.00
neighborhood_district          0.02
point                          0.02
dtype: float64

In [17]:
for i in df.columns:
    if round(100*(df.isnull().sum()/len(df)),2)[i] > 30:
        df.drop(i, axis=1, inplace=True)

In [18]:
round(100*(df.isnull().sum()/len(df)),2)

Incident Number            0.00
Exposure Number            0.00
ID                         0.00
Address                    0.05
Incident Date              0.00
Call Number                0.00
Alarm DtTm                 0.00
Arrival DtTm               0.01
Close DtTm                 0.00
City                       0.29
zipcode                    0.03
Battalion                  0.00
Station Area               0.14
Suppression Units          0.00
Suppression Personnel      0.00
EMS Units                  0.00
EMS Personnel              0.00
Other Units                0.00
Other Personnel            0.00
Estimated Property Loss    0.00
Estimated Contents Loss    0.00
Fire Fatalities            0.00
Fire Injuries              0.00
Civilian Fatalities        0.00
Civilian Injuries          0.00
Number of Alarms           0.00
Primary Situation          0.00
Mutual Aid                 0.00
Action Taken Primary       0.00
Property Use               0.18
Supervisor District        0.00
neighborhood_district      0.02
point                      0.02
dtype: float64

## Deleting unnecessary columns

In [19]:
list = ['Call Number','Arrival DtTm','Close DtTm','Battalion','Suppression Units','Suppression Personnel','EMS Units','EMS Personnel','Other Units','Other Personnel','Fire Fatalities','Fire Injuries','Primary Situation','Mutual Aid','Action Taken Primary','Property Use']
for i in list:
    df.drop(i, axis=1, inplace=True)

## Deleting rows with null values

In [20]:
round(100*(df.isnull().sum()/len(df)),2)

Incident Number            0.00
Exposure Number            0.00
ID                         0.00
Address                    0.05
Incident Date              0.00
City                       0.29
zipcode                    0.03
Station Area               0.14
Estimated Property Loss    0.00
Estimated Contents Loss    0.00
Civilian Fatalities        0.00
Civilian Injuries          0.00
Number of Alarms           0.00
Supervisor District        0.00
neighborhood_district      0.02
point                      0.02
dtype: float64

In [21]:
for col in df.columns:
    df = df[df[col].notna()]

In [22]:
round(100*(df.isnull().sum()/len(df)),2)

Incident Number            0.0
Exposure Number            0.0
ID                         0.0
Address                    0.0
Incident Date              0.0
City                       0.0
zipcode                    0.0
Station Area               0.0
Estimated Property Loss    0.0
Estimated Contents Loss    0.0
Civilian Fatalities        0.0
Civilian Injuries          0.0
Number of Alarms           0.0
Supervisor District        0.0
neighborhood_district      0.0
point                      0.0
dtype: float64

## Cleaned dataset

In [23]:
df

,Incident Number,Exposure Number,ID,Address,Incident Date,City,zipcode,Station Area,Estimated Property Loss,Estimated Contents Loss,Civilian Fatalities,Civilian Injuries,Number of Alarms,Supervisor District,neighborhood_district,point
0,8028304,0,80283040,150 Elsie St.,2008-04-01T00:00:00,San Francisco,94110,11,6767.806844,2264.275702,0,0,1,9.000000,Bernal Heights,POINT (-122.41837339 37.74208979)
1,8028303,0,80283030,85 Turner Tr.,2008-04-01T00:00:00,San Francisco,94107,37,6767.806844,2264.275702,0,0,1,10.000000,Potrero Hill,POINT (-122.39489 37.756291)
2,8028309,0,80283090,175 6th St.,2008-04-01T00:00:00,San Francisco,94105,01,6767.806844,2264.275702,0,0,1,6.141395,South of Market,POINT (-122.407468 37.78008)
3,8028314,0,80283140,633 Hayes St.,2008-04-01T00:00:00,San Francisco,94102,36,6767.806844,2264.275702,0,0,1,5.000000,Hayes Valley,POINT (-122.42684908 37.77612642)
4,8028319,0,80283190,27th Av. / Cabrillo St.,2008-04-01T00:00:00,San Francisco,94121,14,6767.806844,2264.275702,0,0,1,6.141395,Outer Richmond,POINT (-122.4863941 37.77428492)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590931,22049511,0,220495110,1466 REVERE AVENUE,2022-04-18T00:00:00,San Francisco,94124,17,6767.806844,2264.275702,0,0,1,6.141395,Bayview Hunters Point,POINT (-122.387608 37.730303)
590932,22057704,0,220577040,1550 EDDY STREET,2022-05-06T00:00:00,San Francisco,94115,5,6767.806844,2264.275702,0,0,1,5.000000,Western Addition,POINT (-122.433181 37.781389)
590933,22063395,0,220633950,BAYSHORE BL,2022-05-18T00:00:00,San Francisco,94124,9,6767.806844,2264.275702,0,0,1,6.141395,Bayview Hunters Point,POINT (-122.403227 37.749464)
590934,22063394,0,220633940,190 8TH STREET,2022-05-18T00:00:00,San Francisco,94103,1,300000.000000,100000.000000,0,0,1,6.141395,South of Market,POINT (-122.411864 37.776326)
590935,22057335,0,220573350,330 MISSION BAY NORTH BL,2022-05-06T00:00:00,San Francisco,94107,4,6767.806844,2264.275702,0,0,1,6.000000,Mission Bay,POINT (-122.386992 37.77133)

## Saving to csv

In [24]:
df.to_csv('Fire_Incidents_cleaned.csv')